<div
  class="w-full min-h-fit bg-background-1 flex flex-col justify-start items-center py-6 px-6 sm:px-0 sm:py-4"
>
  <div
    class="bg-background-3 rounded sm:rounded-none w-full p-8 md:p-5 animate-enter-bottom lg:max-w-2xl md:max-w-lg sm:max-w-full"
  >
    <h2
      class="section-title text-base font-medium tracking-widest uppercase text-text-1 font-poppins"
    >
      About
    </h2>
    <p class="section-subtitle">Learn more about me</p>
    <div class="flex flex-row lg:flex-col mt-5">
      <div class="w-3/6 2xl:w-4/6 xl:w-5/6 lg:w-full">
        <img src="../../assets/profile.jpeg" class="rounded-xl" alt="Profile" />
      </div>
      <div class="w-full pl-6 lg:pt-6 lg:pl-0 tracking-wider">
        <h3 class="text-2xl font-raleway text-primary-2 mr-2 font-semibold">
          Fullstack Developer
        </h3>
        <p class="mt-2 italic text-wrap">
          I'm an inquisitive and passionate Computer Engineering student seeking
          a challenging position in a technical organization that can provide me
          with an opportunity to improve my skills and gain knowledge in
          conjunction with the organizational goals and to attain excellence
          through experience.
        </p>
        <div class="mt-6 flex flex-row xl:flex-col">
          <div class="flex-1">
            <ul>
              <li class="mb-3 flex items-center">
                <ng-icon
                  name="bootstrapCaretRightFill"
                  class="text-primary-2 mr-2"
                />
                <strong class="font-bold mr-2">Birthday:</strong>
                <span>6th November 2001</span>
              </li>
              <li class="mb-3 flex items-center">
                <ng-icon
                  name="bootstrapCaretRightFill"
                  class="text-primary-2 mr-2"
                />
                <strong class="font-bold mr-2">Degree:</strong>
                <span>B. E. (Computer)</span>
              </li>
              <li class="mb-3 flex items-center">
                <ng-icon
                  name="bootstrapCaretRightFill"
                  class="text-primary-2 mr-2"
                />
                <strong class="font-bold mr-2">Location:</strong>
                <span>Pune, Maharashtra</span>
              </li>
            </ul>
          </div>
          <div class="flex-1">
            <ul>
              <li class="mb-3 flex items-center">
                <ng-icon
                  name="bootstrapCaretRightFill"
                  class="text-primary-2 mr-2"
                />
                <strong class="font-bold mr-2">Website:</strong>
                <span>ishaanvadhan.netlify.app</span>
              </li>
              <li class="mb-3 flex items-center">
                <ng-icon
                  name="bootstrapCaretRightFill"
                  class="text-primary-2 mr-2"
                />
                <strong class="font-bold mr-2">Email:</strong>
                <span>ishaanvadhan2001&#64;gmail.com</span>
              </li>
              <li class="mb-3 flex items-center">
                <ng-icon
                  name="bootstrapCaretRightFill"
                  class="text-primary-2 mr-2"
                />
                <strong class="font-bold mr-2">Phone:</strong>
                <span>+91-7972385355</span>
              </li>
            </ul>
          </div>
        </div>
        <p class="mt-4 italic text-wrap">
          As a developer, I find immense joy in the process of bringing ideas to
          life and seeing applications I've developed come to fruition. There's
          something truly satisfying about translating concepts into functional
          software that serves a purpose in the real world. Each project is a
          new opportunity to learn and grow, and the thrill of seeing my
          creations in action never gets old.
        </p>
      </div>
    </div>
  </div>
  <div
    class="bg-background-3 rounded sm:rounded-none w-full p-8 md:p-5 animate-enter-bottom lg:max-w-2xl md:max-w-lg sm:max-w-full mt-6 sm:mt-4"
  >
    <h2
      class="section-title text-base font-medium tracking-widest uppercase text-text-1 font-poppins"
    >
      Skills
    </h2>
    <p class="section-subtitle">My Expertise Snapshot</p>
    <div
      class="grid grid-cols-5 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 mt-6 gap-4"
    >
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/java.svg" class="w-10 h-10" alt="Java" />

        <p class="ml-3 text-lg font-semibold font-raleway">Java</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/cpp.svg" class="w-10 h-10" alt="CPP" />

        <p class="ml-3 text-lg font-semibold font-raleway">CPP</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/python.svg" class="w-10 h-10" alt="Python" />

        <p class="ml-3 text-lg font-semibold font-raleway">Python</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/html.svg" class="w-10 h-10" alt="HTML" />
        <p class="ml-3 text-lg font-semibold font-raleway">HTML</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/css.svg" class="w-10 h-10" alt="CSS" />

        <p class="ml-3 text-lg font-semibold font-raleway">CSS</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/js.svg" class="w-10 h-10" alt="Javascript" />

        <p class="ml-3 text-lg font-semibold font-raleway">Javascript</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/php.svg" class="w-10 h-10" alt="PHP" />

        <p class="ml-3 text-lg font-semibold font-raleway">PHP</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/node.svg" class="w-10 h-10" alt="NodeJS" />

        <p class="ml-3 text-lg font-semibold font-raleway">NodeJS</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/graphql.svg" class="w-10 h-10" alt="GraphQL" />

        <p class="ml-3 text-lg font-semibold font-raleway">GraphQL</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img
          src="../../assets/bootstrap.svg"
          class="w-10 h-10"
          alt="Bootstrap"
        />

        <p class="ml-3 text-lg font-semibold font-raleway">Bootstrap</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/tailwind.svg" class="w-10 h-10" alt="Tailwind" />

        <p class="ml-3 text-lg font-semibold font-raleway">Tailwind</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/react.svg" class="w-10 h-10" alt="ReactJS" />

        <p class="ml-3 text-lg font-semibold font-raleway">ReactJS</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/fastapi.svg" class="w-10 h-10" alt="FastAPI" />

        <p class="ml-3 text-lg font-semibold font-raleway">FastAPI</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <div class="px-[2px] bg-white">
          <img
            src="../../assets/express.svg"
            class="w-10 h-10"
            alt="ExpressJS"
          />
        </div>
        <p class="ml-3 text-lg font-semibold font-raleway">ExpressJS</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/nest.svg" class="w-10 h-10" alt="NestJS" />

        <p class="ml-3 text-lg font-semibold font-raleway">NestJS</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/spring.svg" class="w-10 h-10" alt="Spring" />

        <p class="ml-3 text-lg font-semibold font-raleway">Spring</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img
          src="../../assets/springboot.svg"
          class="w-10 h-10"
          alt="Spring Boot"
        />

        <p class="ml-3 text-lg font-semibold font-raleway">Spring Boot</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/mysql.svg" class="w-10 h-10" alt="MySQL" />

        <p class="ml-3 text-lg font-semibold font-raleway">MySQL</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img
          src="../../assets/postgresql.svg"
          class="w-10 h-10"
          alt="PostgreSQL"
        />

        <p class="ml-3 text-lg font-semibold font-raleway">PostgreSQL</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/sqlite.svg" class="w-10 h-10" alt="SQLite" />

        <p class="ml-3 text-lg font-semibold font-raleway">SQLite</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/mongodb.svg" class="w-10 h-10" alt="MongoDB" />

        <p class="ml-3 text-lg font-semibold font-raleway">MongoDB</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/firebase.svg" class="w-10 h-10" alt="Firebase" />

        <p class="ml-3 text-lg font-semibold font-raleway">Firebase</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img
          src="../../assets/digitalocean.svg"
          class="w-10 h-10"
          alt="Digital Ocean"
        />

        <p class="ml-3 text-lg font-semibold font-raleway">Digital Ocean</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/aws.svg" class="w-10 h-10" alt="AWS" />

        <p class="ml-3 text-lg font-semibold font-raleway">AWS</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/windows.svg" class="w-10 h-10" alt="Windows" />

        <p class="ml-3 text-lg font-semibold font-raleway">Windows</p>
      </div>
      <div
        class="py-3 px-4 bg-background-5 rounded-md flex-1 flex items-center"
      >
        <img src="../../assets/linux.svg" class="w-10 h-10" alt="Linux" />

        <p class="ml-3 text-lg font-semibold font-raleway">Linux</p>
      </div>
    </div>
  </div>
</div>
