<div
  class="w-full min-h-fit flex flex-col justify-start items-center py-6 px-6 sm:px-0 sm:py-4"
>
  <div
    class="bg-background-2 rounded sm:rounded-none w-full p-8 md:p-5 animate-enter-bottom lg:max-w-2xl md:max-w-lg sm:max-w-full"
  >
    <h2
      class="section-title text-base font-medium tracking-widest uppercase font-poppins"
    >
      About
    </h2>
    <p class="section-subtitle">Learn more about me</p>
    <div class="flex flex-row lg:flex-col mt-5">
      <div class="w-2/6 2xl:w-3/6 xl:w-4/6 lg:w-full">
        <img
          src="../../assets/profile.jpeg"
          class="rounded-lg border border-background-4"
          alt="Profile"
        />
      </div>
      <div class="w-full pl-6 lg:pt-6 lg:pl-0 tracking-wider">
        <h3 class="text-2xl text-primary mr-2 font-semibold">
          Fullstack Developer
        </h3>
        <p class="mt-2 italic text-wrap">
          Computer Engineering graduate with a passion for technology and
          innovation. Eager to leverage my academic background and technical
          skills in a challenging position within a forward-thinking
          organization. Committed to continuous learning and development, and
          driven to contribute to the organization's success while achieving
          personal and professional excellence.
        </p>
        <div class="mt-6 flex flex-row xl:flex-col">
          <div class="flex-1">
            <ul>
              <li class="mb-3 flex items-center">
                <ng-icon
                  name="bootstrapCaretRightFill"
                  class="text-primary mr-2"
                />
                <strong class="font-bold mr-2">Birthday:</strong>
                <span class="break-words">6th November 2001</span>
              </li>
              <li class="mb-3 flex items-center">
                <ng-icon
                  name="bootstrapCaretRightFill"
                  class="text-primary mr-2"
                />
                <strong class="font-bold mr-2">Location:</strong>
                <span class="break-words">Pune, Maharashtra, India</span>
              </li>
            </ul>
          </div>
          <div class="flex-1">
            <ul>
              <li class="mb-3 flex items-center">
                <ng-icon
                  name="bootstrapCaretRightFill"
                  class="text-primary mr-2"
                />
                <strong class="font-bold mr-2">Degree:</strong>
                <span class="break-words">B. E. (Computer)</span>
              </li>
              <li class="mb-3 flex items-center">
                <ng-icon
                  name="bootstrapCaretRightFill"
                  class="text-primary mr-2"
                />
                <strong class="font-bold mr-2">Email:</strong>
                <span class="break-all">ishaanvadhan2001&#64;gmail.com</span>
              </li>
            </ul>
          </div>
        </div>
        <p class="mt-4 italic text-wrap">
          As a developer, I find immense joy in the process of bringing ideas to
          life and seeing applications I've developed come to fruition. There's
          something truly satisfying about translating concepts into functional
          software that serves a purpose in the real world. Each project is a
          new opportunity to learn and grow, and the thrill of seeing my
          creations in action never gets old.
        </p>
      </div>
    </div>
  </div>
  <div
    class="bg-background-2 rounded sm:rounded-none w-full p-8 md:p-5 animate-enter-bottom lg:max-w-2xl md:max-w-lg sm:max-w-full mt-6 sm:mt-4"
  >
    <h2
      class="section-title text-base font-medium tracking-widest uppercase font-poppins"
    >
      Skills
    </h2>
    <p class="section-subtitle">My technical exposure</p>
    <div
      class="grid grid-cols-5 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 mt-6 gap-4 font-medium font-poppins"
    >
      <div
        class="py-3 px-4 bg-background-3 rounded-md flex-1 flex items-center"
        *ngFor="let skill of skills"
      >
        <div [ngClass]="{ 'px-[2px] bg-white': skill?.whiteBg }">
          <img [src]="skill?.svgUrl" class="w-10 h-10" [alt]="skill?.name" />
        </div>
        <p class="ml-3">{{ skill?.name }}</p>
      </div>
    </div>
  </div>
</div>
