<div
  class="w-full min-h-fit flex flex-col justify-start items-center py-6 px-6 sm:px-0 sm:py-4"
>
  <div
    class="bg-background-2 rounded sm:rounded-none w-full p-8 md:p-5 animate-enter-bottom lg:max-w-2xl md:max-w-lg sm:max-w-full"
  >
    <h2
      class="section-title text-base font-medium tracking-widest uppercase font-poppins"
    >
      Projects
    </h2>
    <p class="section-subtitle">My works</p>
    <div class="mt-4">
      <div
        class="grid grid-cols-4 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1 gap-6 font-poppins"
      >
        <div
          class="relative rounded-md overflow-hidden h-80"
          *ngFor="let project of projects"
        >
          <img
            class="w-full h-full object-cover"
            [src]="
              project?.imgUrls?.length > 0
                ? project?.imgUrls[0]
                : project?.altImgUrl
            "
            [alt]="project?.name"
          />
          <div
            class="ease-500 absolute black-gradient z-2 top-0 w-full h-full flex flex-col justify-end p-5 hover:bg-[#000000aa] cursor-pointer"
            (click)="setSelectedProject(project)"
          >
            <div class="flex flex-row justify-between items-end gap-2.5">
              <div>
                <h1 class="font-medium text-xl">
                  {{ project?.name }}
                </h1>
                <h2 class="text-text-2 text-sm mt-1">
                  {{ project?.summary }}
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="bg-[#000000d5] z-[999] fixed top-0 right-0 bottom-0 left-0 overflow-hidden animate-fade-in flex justify-center items-center"
  *ngIf="selectedProject?.name"
>
  <div
    class="animate-fade-in max-w-6xl max-h-[75%] xl:max-w-4xl lg:max-w-xl lg:max-h-[85%] md:max-w-lg sm:max-w-full sm:max-h-full sm:rounded-none bg-background-2 rounded-md flex flex-col p-5"
  >
    <div class="flex justify-between items-center">
      <h1 class="font-medium text-2xl break-words md:text-xl">
        Project Details
      </h1>
      <button
        class="flex justify-center items-center"
        (click)="setSelectedProject(null)"
      >
        <ng-icon
          name="bootstrapX"
          class="ease-500 text-4xl cursor-pointer text-text-3"
        />
      </button>
    </div>
    <hr class="border-background-4 mt-3 mb-5" />
    <div class="flex lg:flex-col overflow-y-auto gap-6 p-2 items-start">
      <img
        *ngIf="selectedProject?.imgUrls?.length <= 0"
        class="w-1/2 lg:w-full object-contain rounded-md px-0.5"
        [src]="selectedProject?.altImgUrl"
        [alt]="selectedProject?.name"
      />
      <swiper-container
        *ngIf="selectedProject?.imgUrls?.length > 0"
        class="w-1/2 lg:w-full h-full"
        pagination="true"
      >
        <swiper-slide
          class="px-0.5"
          *ngFor="let imgUrl of selectedProject?.imgUrls"
        >
          <img
            class="object-cover rounded-md cursor-pointer"
            [src]="imgUrl"
            [alt]="selectedProject?.name"
            (click)="setSelectedImage(imgUrl)"
          />
        </swiper-slide>
      </swiper-container>
      <div class="relative font-poppins">
        <h4 class="text-xl text-primary uppercase font-medium">
          {{ selectedProject?.name }}
        </h4>
        <p class="my-1 italic text-text-2 text-base">
          {{ selectedProject?.summary }}
        </p>
        <div class="bg-background-3 px-3 py-1 my-2 rounded w-fit text-sm">
          {{ selectedProject?.dates }}
        </div>
        <ul class="list-disc ml-4 tracking-wide">
          <li class="mt-2" *ngFor="let point of selectedProject?.points">
            {{ point }}
          </li>
          <li class="mt-2">
            Technologies used:
            <div
              class="mt-2 grid grid-cols-3 xl:grid-cols-2 sm:grid-cols-1 tracking-wide gap-2"
            >
              <div
                class="p-2.5 md:p-3 bg-background-3 rounded-md flex items-center"
                *ngFor="
                  let skill of getSkillsForProject(selectedProject?.skills)
                "
              >
                <div [ngClass]="{ 'px-[2px] bg-white': skill?.whiteBg }">
                  <img
                    [src]="skill?.svgUrl"
                    class="w-5 h-5"
                    [alt]="skill?.name"
                  />
                </div>
                <p class="ml-3 md:text-sm">{{ skill?.name }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div
  class="bg-[#000000d5] z-[999] fixed top-0 right-0 bottom-0 left-0 overflow-hidden animate-fade-in px-6 py-6 flex justify-center items-center"
  *ngIf="selectedImage"
  (click)="setSelectedImage(null)"
>
  <img
    class="h-full w-full object-contain md:rotate-90 sm:scale-[1.35] xs:scale-[1.85]"
    [src]="selectedImage"
    [alt]="selectedProject?.name"
  />
</div>
