<div
  class="w-full min-h-fit bg-background-1 flex flex-col justify-start items-center py-6 px-6 sm:px-0 sm:py-4"
>
  <div
    class="bg-background-3 rounded sm:rounded-none w-full p-8 md:p-5 animate-enter-bottom lg:max-w-2xl md:max-w-lg sm:max-w-full"
  >
    <h2
      class="section-title text-base font-medium tracking-widest uppercase text-text-1 font-poppins"
    >
      Contact
    </h2>
    <p class="section-subtitle">Get in Touch</p>
    <div class="grid grid-cols-2 lg:grid-cols-1 mt-6 gap-6">
      <div class="py-3 px-4 bg-background-5 rounded-md flex items-center">
        <div class="mt-1">
          <ng-icon name="bootstrapGeoAltFill" class="text-primary-2 text-2xl" />
        </div>
        <div class="ml-5 flex flex-col">
          <p class="uppercase text-lg font-raleway font-bold text-text-2">
            My Address
          </p>
          <a
            target="_blank"
            href="https://maps.app.goo.gl/CqqqvauHWeWU74nr5"
            class="ease-300 hover:text-primary-2 hover:underline tracking-wider text-text-1"
          >
            Shukrawar Peth, Pune, Maharashtra, India
          </a>
        </div>
      </div>
      <div class="py-3 px-4 bg-background-5 rounded-md flex items-center">
        <div class="mt-1">
          <ng-icon name="bootstrapShareFill" class="text-primary-2 text-2xl" />
        </div>
        <div class="ml-5 flex flex-col">
          <p class="uppercase text-lg font-raleway font-bold text-text-2">
            Social Profiles
          </p>
          <div class="flex flex-row mt-2">
            <a
              href="https://www.linkedin.com/in/ishaanvadhan/"
              target="_blank"
              class="ease-300 flex justify-center items-center text-text-1 rounded-full hover:text-primary-2 mr-5"
              ><ng-icon name="bootstrapLinkedin" class="text-xl"
            /></a>
            <a
              href="https://github.com/IshaanVadhan/"
              target="_blank"
              class="ease-300 flex justify-center items-center text-text-1 rounded-full hover:text-primary-2 mr-5"
              ><ng-icon name="bootstrapGithub" class="text-xl"
            /></a>
            <a
              href="https://www.instagram.com/ishxxn_/"
              target="_blank"
              class="ease-300 flex justify-center items-center text-text-1 rounded-full hover:text-primary-2 mr-5"
              ><ng-icon name="bootstrapInstagram" class="text-xl"
            /></a>
            <a
              href="https://www.facebook.com/people/Ishaan-Vadhan/pfbid0271xHSkeLtt1rxQtFgKKXnxbTzYFRBUxi5oNoteuyWHpro2QcFP1d4mz1f2EMNd8Bl/"
              target="_blank"
              class="ease-300 flex justify-center items-center text-text-1 rounded-full hover:text-primary-2"
              ><ng-icon name="bootstrapFacebook" class="text-xl"
            /></a>
          </div>
        </div>
      </div>
      <div class="py-3 px-4 bg-background-5 rounded-md flex items-center">
        <div class="mt-0.5">
          <ng-icon
            name="bootstrapEnvelopeAtFill"
            class="text-primary-2 text-2xl"
          />
        </div>
        <div class="ml-5 flex flex-col">
          <p class="uppercase text-lg font-raleway font-bold text-text-2">
            Email me
          </p>
          <a
            target="_blank"
            href="mailto:ishaanvadhan2001@gmail.com"
            class="ease-300 hover:text-primary-2 hover:underline tracking-wider text-wrap text-text-1"
          >
            ishaanvadhan2001&#64;gmail.com
          </a>
        </div>
      </div>
      <div class="py-3 px-4 bg-background-5 rounded-md flex items-center">
        <div class="mt-1.5">
          <ng-icon
            name="bootstrapTelephoneOutboundFill"
            class="text-primary-2 text-2xl"
          />
        </div>
        <div class="ml-5 flex flex-col">
          <p class="uppercase text-lg font-raleway font-bold text-text-2">
            Call me
          </p>
          <a
            target="_blank"
            href="tel:+917972385355"
            class="ease-300 hover:text-primary-2 hover:underline tracking-wider text-text-1"
          >
            +91-7972385355
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
