<div
  class="w-full min-h-fit flex flex-col justify-start items-center py-6 px-6 sm:px-0 sm:py-4"
>
  <div
    class="bg-background-2 rounded sm:rounded-none w-full p-8 md:p-5 animate-enter-bottom lg:max-w-2xl md:max-w-lg sm:max-w-full"
  >
    <h2
      class="section-title text-base font-medium tracking-widest uppercase font-poppins"
    >
      Resume
    </h2>
    <p class="section-subtitle">My professional journey</p>
    <div class="grid grid-cols-2 lg:grid-cols-1 mt-4 gap-10 font-poppins">
      <div class="flex flex-col">
        <h3 class="font-bold text-3xl lg:text-2xl text-text-2 font-raleway">
          Education
        </h3>
        <div
          class="relative ml-2 border-l border-text-3"
          *ngFor="let education of educations; let first = first"
          [ngClass]="first ? 'mt-6' : 'mt-8'"
        >
          <div class="resume-item pb-2 pl-5">
            <div class="flex w-full">
              <div class="flex-1 -mt-2 pr-8">
                <h4 class="text-xl text-primary uppercase font-medium">
                  {{ education?.degree }}
                </h4>
                <p class="mt-1 italic text-text-2 text-base">
                  {{ education?.org }}
                </p>
              </div>
              <img
                [src]="education?.imgUrl"
                class="w-14 h-14 border-2 border-background-4 rounded"
              />
            </div>
            <div class="bg-background-3 px-3 py-1 my-2 rounded w-fit text-sm">
              {{ education?.dates }}
            </div>
            <ul
              class="list-disc ml-4 tracking-wide"
              *ngFor="let point of education?.points"
            >
              <li class="mt-2">{{ point }}</li>
            </ul>
          </div>
        </div>

        <h3
          class="mt-9 font-bold text-3xl lg:text-2xl text-text-2 font-raleway"
        >
          Positions of Responsibility
        </h3>
        <div
          class="relative ml-2 border-l border-text-3"
          *ngFor="let position of positions; let first = first"
          [ngClass]="first ? 'mt-6' : 'mt-8'"
        >
          <div class="resume-item pb-2 pl-5">
            <div class="flex w-full">
              <div class="flex-1 -mt-2 pr-8">
                <h4 class="text-xl text-primary uppercase font-medium">
                  {{ position?.title }}
                </h4>
                <p class="mt-1 italic text-text-2 text-base">
                  {{ position?.org }}
                </p>
              </div>
              <img
                [src]="position?.imgUrl"
                class="w-14 h-14 border-2 border-background-4 rounded"
              />
            </div>
            <div class="bg-background-3 px-3 py-1 my-2 rounded w-fit text-sm">
              {{ position?.dates }}
            </div>
            <ul class="list-disc ml-4 tracking-wide">
              <li class="mt-2" *ngFor="let point of position?.points">
                {{ point }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex flex-col">
        <h3 class="font-bold text-3xl lg:text-2xl text-text-2 font-raleway">
          Experience
        </h3>
        <div
          class="relative ml-2 border-l border-text-3"
          *ngFor="let experience of experiences; let first = first"
          [ngClass]="first ? 'mt-6' : 'mt-8'"
        >
          <div class="resume-item pb-2 pl-5">
            <div class="flex w-full">
              <div class="flex-1 -mt-2 pr-8">
                <h4 class="text-xl text-primary uppercase font-medium">
                  {{ experience?.title }}
                </h4>
                <p class="mt-1 italic text-text-2 text-base">
                  {{ experience?.org }}
                </p>
              </div>
              <img
                [src]="experience?.imgUrl"
                class="w-14 h-14 border-2 border-background-4 rounded"
              />
            </div>
            <div class="bg-background-3 px-3 py-1 my-2 rounded w-fit text-sm">
              {{ experience?.dates }}
            </div>
            <ul class="list-disc ml-4 tracking-wide">
              <li class="mt-2" *ngFor="let point of experience?.points">
                {{ point }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
