/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .select2-dropdown {
    @apply rounded-b-lg shadow-md;
  }
  .select2-search {
    @apply border border-gray-300 rounded;
  }
  .select2-results__group {
    @apply text-lg font-bold text-gray-900;
  } */
  .nav-tab::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.125rem;
    bottom: -0.25rem;
    left: 0;
    visibility: hidden;
    width: 0rem;
    transition: all 0.3s ease-in-out 0s;
    background: #50cf7f;
  }

  .nav-tab:hover::before {
    visibility: visible;
    width: 50%;
  }

  .nav-tab:hover {
    color: #eee;
    cursor: pointer;
  }

  .nav-tab-active::before {
    visibility: visible;
    width: 50%;
  }

  .ease-300 {
    transition: ease all 0.3s;
  }

  .ease-500 {
    transition: ease all 0.5s;
  }

  .social-link:hover {
    background: #50cf7f;
    color: #0a0e0f;
  }

  .section-title::after {
    content: "";
    width: 6rem;
    height: 0.1rem;
    display: inline-block;
    background: #50cf7f;
    margin: 0.25rem 0.625rem;
  }

  .section-subtitle {
    margin-top: 0.5rem;
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    color: #eee;
  }

  .resume-item::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
    left: -0.5rem;
    top: -0.15rem;
    background: #50cf7f;
    border: 0.15rem solid #50cf7f;
  }
}

html,
body {
  background: #0a0e0f !important;
  color: #eee;
  position: relative;
  background: transparent;
  font-family: "Raleway", sans-serif;
  width: 100%;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: #2a3234;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #50cf7fdd;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #0a0e0f;
}

::-webkit-scrollbar-thumb:active {
  background-color: #50cf7fbb;
}

.popup {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.75), 0 0 1rem rgba(0, 0, 0, 0.75);
  z-index: 999;
}
